<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:fragment="remove-popup-content">
    <div class="card-header">
      <h2>Remove Courses</h2>
    </div>
    <div class="card-body">
      <div id="removeForm">
        <div th:each="courseRemove : ${coursesRemove}">
          <div>
            <input type="checkbox" name="selectedCourses" th:value="${courseRemove.getRefNum() != null ? courseRemove.getRefNum() : ''}" th:checked="false" />
            <label th:text="${courseRemove.getFormattedCourseTitle()}"></label>
          </div>
        </div>
        <button class="btn btn-primary" type="button" onclick="getSelectedCourses()">Remove Courses</button>
        <button class="btn btn-secondary" type="button" onclick="closeRemovePopup('cancel')">Cancel</button>
        <!--            th:onclick="'addCourse('+${course.getRefNum}+')'"-->
      </div>
    </div>
  </div>
</head>

