<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Schedule Object</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Team 4</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h1>Create Schedule Object</h1>
    <form th:object="${scheduleFormData}" th:action="@{/create-schedule}" method="post">
        <div class="form-group">
            <label for="scheduleName">Schedule Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="scheduleName" placeholder="Enter schedule name" required/>
        </div>
        <div class="form-group">
            <label for="scheduleSemester">Schedule Semester</label>
            <select th:field="*{semester}" class="form-control" id="scheduleSemester">
                <option value="SPRING">Spring</option>
                <option value="FALL">Fall</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-secondary" href="/">Cancel</a>
    </form>
</div>
</body>
</html>