<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- FullCalendar JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>

    <!-- FullCalendar CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css"/>

    <!--    Personal JS-->
    <script th:src="@{/js/edit-schedule.js}"></script>

    <!--    CSS Styling-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/edit-schedule.css}">

    <style>
        table {
            margin-top: 20px;
        }
        .shaded {
            background-color: #E6676B;
        }
        table td {
        font-weight: bold;
        }
       .btn.btn-primary {
            background-color: #CC0000;
            border-color: #CC0000;
            font-weight: bold;
       }

        .btn.btn-primary:hover {
             background-color: #990000;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
</nav>
<div class="card" id="remove-popup-container">
    <div class="card-header">
        <h2>Remove Courses</h2>
    </div>
    <div class="card-body">
        <div id="removeForm">
            <div th:each="courseRemove : ${coursesRemove}">
                <div>
                    <input type="checkbox" name="selectedCourses" th:value="${courseRemove.getRefNum() != null ? courseRemove.getRefNum() : ''}" th:checked="false" />
                    <label th:text="${courseRemove.getFormattedCourseTitle()}"></label>
                </div>
            </div>
            <button class="btn btn-primary" type="button" onclick="getSelectedCourses()">Remove Courses</button>
            <button class="btn btn-secondary" type="button" onclick="closeRemovePopup('cancel')">Cancel</button>
        </div>
    </div>
</div>
<div class="card" id="info-popup-container">
    <div class="card-body">
        <div class="row">
            <div class="col text-center">
                <h4 th:if="${moreInfoCourses != null}" th:text="${moreInfoCourse.getFormattedCourseTitle}"></h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center">
                    <span class="font-weight-bold">Code:</span>
                    <p class="mb-0 ml-2" th:if="${moreInfoCourses != null}" th:text="${moreInfoCourse.getRefNum}"></p>
                </div>
                <div class="d-flex align-items-center">
                    <span class="font-weight-bold">Time:</span>
                    <p class="mb-0 ml-2" th:if="${moreInfoCourses != null}" th:text="${moreInfoCourse.getTimeLabel}"></p>
                </div>
                <div class="d-flex align-items-center">
                    <span class="font-weight-bold">Instructor:</span>
                    <p class="mb-0 ml-2" th:if="${moreInfoCourses != null}" th:text="${moreInfoCourse.getProfessor}"></p>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <span class="font-weight-bold">Credits:</span>
                    <p class="mb-0 ml-2" th:if="${moreInfoCourses != null}" th:text="${moreInfoCourse.getCredits}"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="font-weight-bold">Description:</span>
                <p th:if="${moreInfoCourses != null}" th:text="${moreInfoCourse.getDescription}"></p>
                <button class="btn float-right" onclick="closeInfoPopup()">back</button>
            </div>

        </div>
    </div>
</div>
<div class="card" id="conflict-popup-container">
    <div class="card-header">
        <h2>Schedule Conflict!</h2>
    </div>
    <div class="card-body">
        <form method="post">

            <button class="btn btn-secondary" type="button" onclick="closeConflictPopup()">Close</button>
        </form>
    </div>
</div>
<div class="card" id="event-popup-container">
    <div class="card-header">
        <h2>Add Event</h2>
    </div>
    <div class="card-body">
        <form id="eventForm" action="/create-event" method="POST">
            <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" name="name" placeholder="Enter event name" required>
            </div>
            <div class="form-group">
                <label>Days:</label><br>
                <label><input type="checkbox" name="days" value="Monday"> Monday</label><br>
                <label><input type="checkbox" name="days" value="Tuesday"> Tuesday</label><br>
                <label><input type="checkbox" name="days" value="Wednesday"> Wednesday</label><br>
                <label><input type="checkbox" name="days" value="Thursday"> Thursday</label><br>
                <label><input type="checkbox" name="days" value="Friday"> Friday</label><br>
            </div>
            <div class="form-group">
                <label>Time:</label>
                <input type="time" class="form-control" name="startTime" min="08:00" max="21:00" step="900">
                <input type="time" class="form-control" name="endTime" min="08:00" max="21:00" step="900">
            </div>
            <button class="btn btn-primary" type="button" onclick="closeEventPopup()">Add Event</button>
            <button class="btn btn-secondary" type="button" onclick="closeEventPopup()">Cancel</button>
        </form>
    </div>
</div>
<div class="card" id="popup-container">
    <div class="card-header">
        <h2>Filter</h2>
    </div>
    <div class="card-body">
        <form id="filterForm" action="/filter" method="post">
            <div class="form-group">
                <label>Department:</label>
                <select class="form-control" name="department">
                    <option value="None">All</option>
                    <div th:each="department : ${departments}">
                        <option th:value="${department}" th:text="${department}"></option>
                    </div>
                </select>
            </div>
            <div class="form-group">
                <label>Time:</label>
                <input type="time" class="form-control" name="startTime" min="08:00" max="21:00" step="900">
                <input type="time" class="form-control" name="endTime" min="08:00" max="21:00" step="900">
            </div>
            <div class="form-group">
                <label>Days:</label><br>
                <label><input type="checkbox" name="days" value="Monday"> Monday</label><br>
                <label><input type="checkbox" name="days" value="Tuesday"> Tuesday</label><br>
                <label><input type="checkbox" name="days" value="Wednesday"> Wednesday</label><br>
                <label><input type="checkbox" name="days" value="Thursday"> Thursday</label><br>
                <label><input type="checkbox" name="days" value="Friday"> Friday</label><br>
            </div>
            <div class="form-group">
                <label for="credits">Credits:</label>
                <input type="number" class="form-control" id="credits" name="credits">
            </div>
            <div class="form-group">
                <label for="level">Level:</label>
                <select class="form-control" name="level" id="level">
                    <option value="None"> All</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="400">400</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit" onclick="closeFilterPopup()">Filter</button>
            <button class="btn btn-secondary" type="button" onclick="closeFilterPopup()">Cancel</button>
            <button class="btn btn-secondary" type="reset">Clear All</button>
        </form>
    </div>
</div>
<div class="container-fluid" id="blur">
    <div class="row">
        <div class="col text-center offset-md-2 col-md-8 mt-2">
            <h1 class="display-3 p-2" th:text="${scheduleName}" style="font-weight: bold; margin-top: -20px;"></h1>
        </div>
        <div class="col text-right mt-2">
            <form th:action="@{/update-schedule}" method="post">
                <button type="submit" class="btn btn-danger btn-primary">Save and exit</button>
            </form>
        </div>
    </div>
    <hr class="divider" style="margin-top: 0.5rem; margin-bottom: 0.5rem;margin-top: -8px;">
    <div class="row">
        <div class="col-3">
            <div class="row p-1">
                <div class="input-group">
                    <div class="col" id="search-form">
                            <input type="text" name="query" class="form-control rounded" id="search-input" placeholder="Search: " />
                    </div>
                    <div class="col-auto">
                        <button onclick="search()" class="btn btn-danger btn-primary">Search</button>
                    </div>
                    <div class="col-auto">
                        <button type="button" onclick="openFilterPopup()" class="btn btn-danger btn-primary">Filter</button>
                    </div>
                </div>
            </div>
            <div class="row scrollable" id = "searchResults" style="height: 650px; overflow-y: auto;">
                <ul class="list-group" id="insertSearch" >
                    <div class="list-group-item" th:each="course: ${courses.getFilteredCourses}">
                        <div class="course-details">
                            <div class="course-info" style = "font-weight: bold" th:text="${course.getNameLabel}"></div>
                            <div class="course-info" th:text="${course.getTimeLabel}"></div>
                        </div>
                        <hr class="divider" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
                        <div class="d-flex justify-content-between">
                            <button th:onclick="'openInfoPopup(' + ${course.getRefNum} + ')'" th:id="'info-button-' + ${course.getRefNum()}" class="btn btn-danger btn-primary btn-sm">More Info</button>
                            <button th:onclick="'addCourse('+${course.getRefNum}+')'" th:id="'plus-button-' + ${course.getRefNum()}" class="btn btn-danger btn-primary btn-sm">Add</button>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col-9" id = "allSchedInfo">
            <div class="row p-1">
                <div class="col-auto">
                    <button type="button" onclick="openEventPopup()" class="btn btn-danger btn-primary" style="display: inline-block;">Add Custom Event</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-danger btn-primary" type = "submit" onclick="openRemovePopup()" style="display: inline-block;">Remove Courses</button>
                </div>
                <div class="col text-right" style="margin-top: -4px;" id = "schedInfo">
                    <p class="mb-0" style="line-height: 1.5;">
                        <span style="font-weight: bold;">Semester:</span> <span th:text="${schedule.getSemesterString}"></span>
                    </p>
                    <p class="mb-0" style="line-height: 1.5; padding-bottom: 8px;">
                        <span style="font-weight: bold;">Credits:</span> <span th:text="${schedule.getTotalCreditsString}"></span>
                    </p>
                </div>
            </div>
            <div class="col scrollable" style="height: 700px; overflow-y: auto; padding: 0;">
                <table id="scheduleTable" class="table table-bordered" style="margin-top: 0;">
                    <thead>
                    <tr>
                        <th th:each="header : ${header}" th:text="${header}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row, rowIdx : ${times}">
                        <td th:each="cell, cellIdx : ${row}" th:text="${cell}"
                            th:classappend="${cellIdx.index > 0 && (cell != null and cell != '')} ? 'shaded' : ''"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /* Retroactively remove the shading from the first column */
    var firstColumnCells = document.querySelectorAll("tbody td:nth-child(1)");
    firstColumnCells.forEach(function(cell) {
        cell.classList.remove("shaded");
    });
</script>
<script>
    $(document).ready(function() {
  var formChanged = false;

  $('form :input').change(function() {
    formChanged = true;
  });

  // Warn user before leaving the page
  $(window).on('beforeunload', function(e) {
    if (formChanged) {
      var message = "You have unsaved changes. Are you sure you want to leave this page?";
      e.preventDefault();
      e.returnValue = message;
      return message;
    }
  });

  // Disable warning if the user saves and exits
  $('button.save-exit').click(function() {
    formChanged = false;
  });

  // Disable warning if the user submits the form
  $('form').submit(function() {
    formChanged = false;
  });

  // Disable back button on the browser
  history.pushState(null, null, location.href);
  window.onpopstate = function () {
      history.go(1);
  };
});
</script>
<!--this code commented out until we can actually add courses-->
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        var formChanged = false;-->
<!--        $('form :input').change(function() {-->
<!--        formChanged = true;-->
<!--    });-->
<!--    $(window).bind('beforeunload', function() {-->
<!--        if (formChanged) {-->
<!--            return "You have unsaved changes. Are you sure you want to leave this page?";-->
<!--        }-->
<!--    });-->
<!--    $('form').submit(function(event) {-->
<!--        var credits = 0;-->
<!--        $('input[name="selectedCourses"]:checked').each(function() {-->
<!--        credits += parseInt($(this).closest('div').find('.credits').text());-->
<!--    });-->
<!--        if (credits > 17 || credits < 12) {-->
<!--            event.preventDefault();-->
<!--            alert('Your schedule must be between 12 and 17 credits');-->
<!--        }-->
<!--    });-->
<!--});-->
<!--</script>-->
</body>
</html>