<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${scheduleName}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        table {
            margin-top: 20px;
        }
        .shaded {
            background-color: lightblue;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
</nav>
<div class="container my-5">
    <h1 class="text-center mb-5" th:text="${scheduleName}"></h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th th:each="header : ${header}" th:text="${header}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row, rowIdx : ${times}">
                <td th:each="cell, cellIdx : ${row}" th:text="${cell}"
                    th:classappend="${cellIdx != 0 && (cell != null and cell != '')} ? 'shaded' : ''"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:inline="javascript">
    /* Retroactively remove the shading from the first column */
    var firstColumnCells = document.querySelectorAll("tbody td:nth-child(1)");
    firstColumnCells.forEach(function(cell) {
        cell.classList.remove("shaded");
    });
</script>
</body>
</html>
